*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/.settings/
/.project
/.classpath
/target/
/output/
/bin/

/.idea/
*.iml
scenarios/simpleWalkScenario/input/vehicles.xml
scenarios/simpleWalkScenario/input/plans.xml
scenarios/simpleWalkScenario/input/network.xml
scenarios/simpleWalkScenario/config.xml
